<div class="nav-item px-3">

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Inicio

    </NavLink>

</div>
<div class="nav-item px-3">

    <NavLink class="nav-link" href="Actividades" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Actividades

    </NavLink>

</div>

<div class="nav-item px-3">

    <NavLink class="nav-link" href="Investigadores" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Investigadores

    </NavLink>

</div>

<div class="nav-item px-3">

    <NavLink class="nav-link" href="Proyectos" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Proyectos

    </NavLink>

</div>

<div class="nav-item px-3">

    <NavLink class="nav-link" href="Publicaciones" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Publicaciones

    </NavLink>

</div>

<div class="nav-item px-3">

    <NavLink class="nav-link" href="RecursosEspecializados" Match="NavLinkMatch.All">

        <span class="oi oi-list-rich" aria-hidden="true"></span> Recursos Especializados

    </NavLink>

</div>
