@page "/Investigadores/form"
@inject SweetAlertService swal
@inject NavigationManager navigationManager


<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText width="10" @bind-Value="Investigador.Nombre"></InputText>
            <ValidationMessage For="@(() => Investigador.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Especialidad:</label>
        <div>
            <InputText width="10" @bind-Value="Investigador.Especialidad"></InputText>
            <ValidationMessage For="@(() => Investigador.Especialidad)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Afiliacion:</label>
        <div>
            <InputText @bind-Value="Investigador.Afiliacion"></InputText>
            <ValidationMessage For="@(() => Investigador.Afiliacion)" />
        </div>
    </div>


    <!-- Agrega más campos según sea necesario -->

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" /> Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" /> Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" /> Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;


    protected override void OnInitialized()
    {
        editContext = new (Investigador);
    }
    [Parameter]

    [EditorRequired]

    public Investigador Investigador { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }



    public bool FormularioPosteadoConExito { get; set; } = false;


    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)

        {
            return;

        }


        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }

}
