@page "/Proyectos/edit/{Id:int}"

@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Proyecto</h3>

@if (proyecto is null)
{
    <p>Cargando...</p>
}
else
{
    <ProyectoForm @ref="proyectoForm" Proyecto="proyecto" OnValidSubmit="Editar" ReturnAction="Return" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Proyecto proyecto;
    private ProyectoForm proyectoForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Proyecto>($"api/Proyectos/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Proyectos");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            proyecto = responseHttp.Response;
        }
    }

    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/Proyectos", proyecto);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
        {
            Toast = true,
            Position = SweetAlertPosition.BottomEnd,
            ShowConfirmButton = true,
            Timer = 3000
        });

        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        proyectoForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/Proyectos");
    }
}
